## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia

os:
  - linux
  - osx

julia:
  - 1.0
  - nightly

notifications:
  email: false

git:
  depth: 99999999

matrix:
  allow_failures:
  - julia: nightly

after_success:
  # push coverage results to Coveralls
  - julia -e 'cd(Pkg.dir("PlanerTransformer")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
  # push coverage results to Codecov
  - julia -e 'cd(Pkg.dir("PlanerTransformer")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
  # update documentation
#  - julia -e 'Pkg.add("Documenter")'
#  - julia -e 'cd(Pkg.dir("PlanerTransformer")); include(joinpath("docs", "make.jl"))' deploy


jobs:
  include:
    - stage: "Documentation"
      julia: 1.0
      os: linux
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.instantiate()'
        - julia --project=docs/ docs/make.jl
      after_success: skip
